body {
	text-align: center;
      background: url('https://lh3.google.com/u/0/d/0B4hm1aQtCN6HRHpYV1kzc3ozcDQ=w1664-h986-iv1');
      background-size: cover;
      color: grey;
    }
    a {
      color: white;
    }
        .pageLink {
        color: blue;
      }
    h1 {
      font-size: 85px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 85px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }

    }
}
/body
